<footer id="main-footer" class="bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="m-2 col-md-12">
        <button class="btn btn-light my-2" data-toggle="modal"
                data-target="#mymodal">Contact Zalman Ackerman</button>
      </div>
    </div>
  </div>
</footer>

<!-- MODAL -->
<div class="modal" id="mymodal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal Title</h5>
        <button class="close"
                data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        Working on it
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary"
                data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

