<div class="container">
  <app-paragraph-panel [id]="'p1'" [lang]="language" [content]="'background'"></app-paragraph-panel>
  <app-paragraph-panel [id]="'p2'" [lang]="language" [content]="'getto_varsha'" [video]="'https://www.youtube.com/embed/8bjY6L_MUkY'"></app-paragraph-panel>
  <app-paragraph-panel [id]="'p4'" [lang]="language" [content]="'maydanek'"></app-paragraph-panel>
  <app-paragraph-panel [id]="'p5'" [lang]="language" [content]="'other_camps'"></app-paragraph-panel>
  <app-paragraph-panel [id]="'p6'" [lang]="language" [content]="'final_war'"></app-paragraph-panel>
</div>
