<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 m-auto">
      <div class="carousel slide my-5" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <app-carousel-item class="carousel-item active"
                             [src]="'../../../assets/image1.jpg'"
                             [alt]="'First Slide'"
                             [title]="'Slide One'"
                             [text]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'"></app-carousel-item>
          <app-carousel-item class="carousel-item"
                             [src]="'../../../assets/image2.jpg'"
                             [alt]="'Second Slide'"
                             [title]="'Slide Two'"
                             [text]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'"></app-carousel-item>
          <app-carousel-item class="carousel-item"
                             [src]="'../../../assets/image3.jpg'"
                             [alt]="'Third Slide'"
                             [title]="'Slide Three'"
                             [text]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'"></app-carousel-item>
        </div>
      </div>
    </div>
  </div>
</div>
